/* Global Styles */
body {
  font-family: 'Open Sans Light', Helvetica, Gill Sans, sans-serif;
  color: #555;
}

.slide {
  color: #555;
}

.grid6 {
  display: block;
  float: left;
  width: 50%;
}

.left {
  float: left;
}

.half-width {
  display: inline-block;
  width: 50%;
  margin: 0 !important;
}

.text-center {
  text-align: center;
}

h2 span, p span {
  color: #d21e2a;
}

h3 {
  font-size: 110%;
  font-weight: bold;
}

.slide pre {
  white-space: pre;
}

.highlight {
  padding-left: 20px;
  position: relative;
  font-family: monospace;
  font-size: 80%;
  line-height: 105%;
  counter-reset: linenumbers;
}

.highlight pre > span:before {
  font-size: .9em;
  color: #aaa;
  content: counter(linenumbers);
  counter-increment: linenumbers;
  left: -3.2ex;
  position: absolute;
  text-align: right;
  width: 2.5ex;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

video {
  display: block;
  margin: 20px auto;
  width: auto;
  height: 83%;
}

/* Progress Background */
.full .progress div {
  background: #d21e2a;
}

.full .progress {
  bottom: 10px;
}

/* Real time network slide */
#real-time-network p, #real-time-network h2 {
  color: #555;
  text-align: center;
}

#real-time-network > div {
  margin: 0 auto;
  padding-left: 110px;
  padding-right: 110px;
}

/* Features slide */
#features img {
  margin-right: 15px;
  vertical-align: middle;
}

#features li:before {
  content: '';
}

/* Code example slide */
#code img {
  float: left;
  margin-top: 80px;
  margin-right: 10px;
}

#code .highlight {
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 3px;
  font-size: 18px;
  background: white;
  margin: 10px;
  padding: 10px;
  height: 135px;
}

#code .highlight pre > span:before {
  content: '';
}

/* Devices slide */
#devices h2 {

}

/* Demo Slide */
#demo iframe {
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 3px;
  float: left;
  background: white;
}

#demo iframe:last-of-type {
  float: right;
}

/* Proven, scalable, powerful */
#scalable ul {
  font-size: 90%;
  padding-right: 100px;
}

#scalable span {
  font: 'Open Sans';
  font-weight: bolder;
  color: #d21e2a;
}

#scalable img {
  position: absolute;
  right: 0;
  top: 30%;
}

#Cover img {
  width: 100%;
}

#Cover h2 img {
  width: 293px;
  position: relative;
  z-index: 1;
}

#Cover h2 {
  margin:30px 0 0;
  color:#FFF;
  text-align:center;
  font-size:70px;
  text-shadow: #000 0px 0px 10px;
}

#Cover p {
  margin: 10px 0 0;
  text-align:center;
  color: #555;
  font-weight: lighter;
  /*font-style: italic;*/
  font-size: 32px;
  /*text-shadow: #000 0px 0px 10px;*/
}

#Cover p a {
  color:#FFF;
}

#Cover .title {
  background: rgba(200, 200, 200, 0.8);
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 200px;
}

#Picture img {
  width: 100%;
  height: auto
}

.slide {
  background: url(pictures/bg-texture2.png);
}
